<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Carteira - Rebalanceamento</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <!-- Bibliotecas Externas -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@2.29.3/dist/date-fns.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="bg-gray-50 text-gray-800">

    <div class="container mx-auto p-2 sm:p-3 lg:p-4 max-w-[99%]">
        {{ template "header" . }}

        <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
            <div class="lg:col-span-8 space-y-6">
                {{ template "config" . }}
                {{ template "portfolio" . }}
            </div>

            <div class="lg:col-span-4 space-y-6">
                {{ template "consolidated" . }}
            </div>
        </div>
    </div>

    {{ template "templates_js" . }}

    <script type="module" src="/static/js/main.js"></script>
</body>

</html>